# git
.git*                       export-ignore

# resources
resources/fdmprinter.def.json export-ignore

# project files
_private/                   export-ignore
cura_profile_to_quality.py  export-ignore
check_quality_files.py      export-ignore
